BasedOnStyle: Google
AccessModifierOffset: 0
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: None
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
ContinuationIndentWidth: 2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
IndentWidth: 4
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 1
SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpacesInContainerLiterals: false